<div class="row">
	<div class="span4">
		<h2>Navigation</h2>
	</div>

	<div class="span8">
		<div class="hero-unit">
		<h1>One Month Rails is Bitchin!</h1>
		<p>
			<%= link_to "Urban Surf", 'http://www.urbansurf.com', class: "btn btn-primary btn-large" %>
		</p>
		</div>
	</div>
</div>
